@import "tailwindcss";
@theme{
    --font-PottiSreeramulu: "PottiSreeramulu";
    --font-Gidugu: "Gidugu";
}
@font-face {
    font-family: "PottiSreeramulu";
    src: url("/fonts/PottiSreeramulu.ttf") format("truetype");
    font-family: "Gidugu";
    src: url("/fonts/Gidugu.ttf") format("truetype");
    font-weight: 800;
}


